[Desktop Entry]
Type=Application
Exec=/usr/lib/deepin-screensaver/modules/deepin-web-screensaver --config
Terminal=false
Name=deepin-web-screensaver-config
